<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INSTALL_SHORTCUT"
        android:maxSdkVersion="25" />
    <uses-permission
        android:name="android.permission.UNINSTALL_SHORTCUT"
        android:maxSdkVersion="25" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrowserWrapper"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".BrowserActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|density"
            android:exported="true"
            android:windowSoftInputMode="stateUnspecified|adjustResize"
            android:taskAffinity="com.repkap11.browserwrapper.browser" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- Optional: Add a filter for viewing the URL directly (deep linking) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <!-- Optional: Add your app's specific host or path if needed -->
                <!-- <data android:host="www.example.com" /> -->
            </intent-filter>
        </activity>
    </application>

</manifest>